<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Book</title>
    <link rel="shortcut icon" href="public/resources/white logo.png" type="image/x-icon">
    <link rel="stylesheet" href="public/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="dcover"></div>
    <header class="header">
        <img src="public/resources/hov-sec gradient logo.png" alt="logo">
        <p>Contact Book</p>
        <a href="https://wa.me/+2348165254494" target="_blank" rel="noopener" title="Chat" class="fab fa-whatsapp"></a>
    </header>
    <section class="hero-section div">
        <div class="hero-text">
            <h1>Never Lose a Number Again</h1>
            <p>Your personal contact hub - 
                safe, simple and always ready when you need it.
            </p>            
        </div>
        <div class="hero-buttons">
                <a href="/register" class="btn btn-primary">Get Started</a>
                <a href="/login" class="btn btn-secondary">Login</a>
            </div>
    </section>
</body>
</html>